<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Estandares de calidad</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../Carpcss/style.css'>
    <script src='main.js'></script>
</head>
<header>
    <div class="content">
        <div class="menu">
        <a href="#">Inicio</a>
        <a href="#">Estandares de calidad</a>
        <a href="#">Conclusión</a>
        </div>
            <h1>Estandares de calidad</h1>
        </div>    
</header>
    <body>
        <p>Es importante implementar los modelos y estandares de calidad 
        dado que la competencia cada día es más fuerte, es necesario que las empresas se 
        preocupen en dar un mejor producto. Pero la calidad del producto no sólo se mide al 
        terminarlo. La complejidad de los problemas que hoy en día buscan una solución en el
        software ha aumentado de manera considerable. Pero este crecimiento ha sobrepasado de 
        sobremanera al aumento en la habilidad de desarrollar y mantener el software por parte 
        de las organizaciones dedicadas a desarrollarlo o mantenerlo.Enfrentamos una situación 
        con dos caras. Por una parte las organizaciones quieren ser capaces de desarrollar y entregar  
        software confiable,  a tiempo y apegado al presupuesto acordado con el cliente. La segunda cara 
        de la moneda nos muestra la perspectiva del cliente, el cuál quiere saber con certeza que todo 
        lo anterior se cumplirá. Por esto las organizaciones deben buscar una norma, estándar o modelo que pueda 
        ayudarlas a conseguir su meta de calidad. Refiriendose a calidad como  define la calidad del software 
        como “el grado con el que un sistema, componente o proceso cumple los requerimientos especificados y las 
        necesidades o expectativas del cliente o usuario”.</p>
        <div class="imagen2">
            <img src="../images/calidad.jpg" >
        </div>
        <h4 class="Titulos">Estandares de calidad</h4 > 
        <div class="contenedores">
            <div class="cont1">
                <h4>Normas ISO/IEC</h4>
                <p class="Parrafo">ISO desarrolla normas internacionales para todos los sectores de la industria 
                    (con la excepción de la electrotecnia, cubierta por la IEC, y de las telecomunicaciones,cubierta
                    por la UIT).<h4 class="normas">ISO 9001-2015</h4>
                    <div class="iso">
                        <ul>
                            <li>Norma diseñada para permitir que las empresas sean mas eficaces y tenga mejor ventaja competitiva.</li>
                            <li>Tiene un enfoque basado en procesos</li>
                            <li>Esta aplicado al ciclo de mejora continua</li>
                            <li>Sirve para detectar errores antes de que sean producidos</li>
                            <li>Es adaptable a todo tipo de organización. </li>
                        </ul>
                    </div>
                 </p>
            </div>
            <div class="cont1">
                <h4>Space</h4>
                <p class="Parrafo">Es un estándar importante iniciativa internacional para apoyar el desarrollo de una Norma Internacional para la Evaluación de
                    Procesos de Software. El proyecto tiene tres objetivos principales: Para desarrollar un proyecto de trabajo para un estándar
                    para la evaluación de procesos de software. Para llevar a cabo los ensayos de la industria de la norma emergente. Para
                    promover la transferencia de tecnología de la evaluación de procesos de software en la industria mundial del software a nivel
                    mundial. El estándar SPICE creciente en número de métodos de evaluación disponibles, y la creciente utilización de la técnica comercial
                    en áreas sensibles, fueron los factores clave que impulsaron el desarrollo y la aceptación de una propuesta para desarrollar un
                    estándar internacional para la evaluación de procesos de software.
                    </p>
            </div>
            <div class="cont1">
                <h4>CMMI</h4>
                <p class="Parrafo">CMMI es el acrónimo de Capability Maturity Model Integration y se refiere a los modelos que 
                    contienen las mejores prácticas que ayudan a las organizaciones a mejorar sus procesos.
                    Siendo un modelo refleja una abstracción de la realidad que permite a las organizaciones 
                    adoptar prácticas útiles para alcanzar sus objetivos de negocio, constituye una referencia no 
                    es un proceso en sí. Para establecer una analogía, querer adaptar la organización al modelo es 
                    como si al ver una maqueta de una casa una persona deseara vivir en ella. Sus características son:
                    <ul>
                        <li>Proporciona un marco y un lenguaje comunes que ayudan a comunicarse.</li>
                        <li>Suele tener el respaldo de instructores y consultores.</li>
                        <li>Aporta años de experiencia.</li>

                    </ul>
                </p>
            </div>
        </div>
        <div class="contenedores2">   
            <div class="cont1">
                <h4>PSP</h4>
                <p  class="Parrafo">Personal Software Process es una herramienta diseñada para ayudar a controlar, administrar y mejorar 
                    el trabajo de los ingenieros. Contiene formas, guías y procedimientos para el desarrollo de software. Cuando 
                    se utiliza adecuadamente permite obtener la información histórica que se requiere para establecer y cumplir con 
                    los compromisos; adicionalmente permite que las tareas rutinarias sean más predecibles y eficientes.
                    Está formado por siete niveles incrementales. Cada nivel contiene todas las actividades del nivel anterior más 
                    una o dos actividades nuevas y está enfocado hacia un problema en particular. Cada actividad está acompañada de una 
                    o más formas que apoyan el proceso.</p>
            </div>
            <div class="cont1">
                <h4>TSP</h4>
                <p class="Parrafo">Team Software Process (TSP) es un método de establecimiento y mejora del trabajo en equipo para procesos software. 
                    TSP proporciona directrices para ayudar a un equipo a establecer sus objetivos, a planificar sus procesos y a revisar 
                    un trabajo con el fin de que la organización pueda establecer prácticas de ingeniería avanzadas y así obtener productos 
                    eficientes, fiables y de calidad. Está formado por dos componentes primarios que abarcan distintos aspectos del trabajo en 
                    equipo:
                    <ul>
                        <li>Formación del equipo de trabajo.</li>
                        <li>Gestión del equipo de trabajo.</li>
                    </ul></p>
            </div>
            <div class="cont1">
                <h4>Moprosoft</h4>
                <p class="Parrafo">Es un modelo de procesos para la industria de software nacional, un modelo mexicano. Fomenta la 
                    estandarización de su operación a través de la incorporación de las mejores prácticas en gestión e 
                    ingeniería de software. Lo que busca el modelo es elevar la capacidad de las organizaciones que 
                    desarrollan o mantienen software para ofrecer servicios con calidad y lograr ser competitivos 
                    internacionalmente. Algunas de sus características:
                    <ul>
                        <li>Específico para el desarrollo y mantenimiento de software.</li>
                        <li>Facilita el cumplimiento de los requisitos de otros modelos como ISO 9000:2000, CMM y CMMI.</li>
                        <li>Enfocado a procesos.</li>
                        <li>Es considerado práctico en su aplicación, principalmente en organizaciones pequeñas, con bajos niveles de madurez.</li>
                    </ul>    
                    
                    </p>    
                

            </div>
        </div>
        <h3 class="conclusiones">Conclusiones</h3>
        <p class="last-parr">Gracias a las normas y estándares aplicados a proyectos TI y de calidad para el desarrollo de software hoy en día se nos puede
            facilitar la realización de los proyectos ya que las normas nos ayudan a establecer y seguir ciertos parámetross que nos garantizan un producto
            eficiente y de calidad, del cual finalmente se busca satisfacer las neceidades del cliente. Debido a que hay diferentes estandares de calidad
            cada uno de ellos hace un trabajo diferente, sin embargo su enfoque siempre será promover la usabilidda en el producto, esto lo ejecutan mediante
            diferentes procesos que buscan llevar el producto a la excelencia.
            </p>
        <h3>Bibliografía</h3>
        <div class="links-bib">
            <a href="#">http://evaluaciondesoftware2013.blogspot.mx/</a><br>
            <a href="#">https://es.slideshare.net/eduardo89/estndares-de-calidad-aplicadas-al-software</a><br>
            <a href="#">https://karron10.wordpress.com/2013/04/14/normas-y-estandares-en-proyectos-de-ti-2/</a><br>
        </div>
        <p>2 comentarios</p>
        <div class="comments-container">
            <div class="comment-autor">
                <img src="../images/Persona.jpg">
                <h5 class="Karen-avatar">Karen</h5>
                <p>Hace 20 horas</p>
            </div>
                <div class="comment-box">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores dignissimos numquam, autem accusamus consequatur exercitationem laborum sequi inventore at ipsum tenetur commodi dolor labore iure expedita quaerat esse ad totam?
                </div>
            
        </div>
        <div class="Content-form">
            <p class="Comentario">Escribe un comentario</p>
            <div class="inputs-fields">
                <input type="text" class="input" placeholder="Nombre" >
                <input type="text" class="input" placeholder="Apellido" >
                <input type="text" class="input" placeholder="Email" >
                <input type="text" class="input" placeholder="web" >
            </div>
            <div class="msg">
                <textarea placeholder="Comentario"> </textarea><br>
                <input type="submit" class="btn" value="publicar">
            </div>  
        </div>
        <footer>
            <p>México 2018 | Todos los derechos reservados.</p>
        </footer>
<body>
    
