<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Estandares de calidad</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../Carpcss/style.css'>
    <script src='main.js'></script>
</head>
<header>
    <div class="content">
        <div class="menu">
        <a href="#">Inicio</a class="color">
        <a href="#">Estandares de calidad</a>
        <a href="#">Conclusión</a>
        </div>
            <h1>Estandares de calidad</h1>
        </div>    
</header>
    <body>
        <p>Dado que la competencia cada día es más fuerte, es necesario que las empresas se 
        preocupen en dar un mejor producto. Pero la calidad del producto no sólo se mide al 
        terminarlo. La complejidad de los problemas que hoy en día buscan una solución en el
        software ha aumentado de manera considerable </p>

<body>
    
